body {
	font-family: sans-serif;
}

.wrapper {
	margin: 10% auto;
	width: 65vw;
}

.svg-symbol {
	color: #000;
	display: inline-block;
	fill: currentColor;
	height: auto;
	padding: 20px;
	width: 50px;
}

figure {
	margin: 0;
	padding: 0 0 40px 0;
}

figcaption {
	margin: 5px 0 0 0;
	font-size: 12px;
}

.image {
	max-width: 100%;
}

.hidden {
	left: -2000em;
	position: absolute;
	top: -2000em;
}
